Package: wiki.quocchienn.trollfools
Name: TrollFools
Version: 2.11-25
Section: Applications
Depends: firmware (>= 14.0)
Architecture: iphoneos-arm
Author: Lessica <chienq895@gmail.com>
Maintainer: Lessica <chienq895@gmail.com>
Description: Give me 108 yuan.
